@font-face {
    font-family: "OngleleafBuhungInseong";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungInseong/OngleleafBuhungInseong.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungInseong/OngleleafBuhungInseong.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungInseong/OngleleafBuhungInseong.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungInseong {
    font-family: "OngleleafBuhungInseong";
}
